#effect {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.pink {
    background-color: pink;
}

.yellow {
    background-color: yellow;
}

.borderColor {
    border: 2px solid;
    border-color: green;
    width: 100px;
    height: 100px;
}

.shrink {
    background-color: gray;
    width: 50px !important;
}

.highlight {
    background-color: red;
    width: 200px !important;
}

